.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr rem(36);
  gap: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-sm);

  /* outline: 1px solid var(--mantine-primary-color-filled);

  &[data-removable="true"] {
    outline: none;
  } */

  @media (max-width: $mantine-breakpoint-xs) {
    grid-template-columns: 1fr;
  }
}
